
.container {
  display: inline;
  width: 100%;
  max-width: 1440px;
  padding: 50px 50px 0 50px;
}

.formSection {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.formHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 35px;
}

.headerTxt {
  color:  #002A4E;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.requiredText {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.requiredInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-right: 10px;
}

.requiredIndicator {
  color: #ED3F45;
}

.formInputSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.formInput {
  width: 212px;
  padding-right: 10px;
}

.roleTypeSection {
  width: 100%;
}

@media (max-width: 880px) {
  .formInput {
    width: 50%;
  }

  .roleTypeSection {
    padding-top: 20px;
  }
  
  .formInput:has(.roleTypeLabel) {
    width: 100%;
  }

  .formInput:nth-child(3) {
    padding-top: 20px;
  }
}

.roleTypeLabel {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	color: #1A1A1A;
}

.roleTypeLabel .required {
	color: #ED3F45;
}

.radioBtnSection {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.radioBtnSection input {
  min-width: 24px;
}

.formInputTextArea {
  width: 100%;
}
.reasonSection {
  width: 100%;
}
.btnSection {
  padding-bottom: 60px;
}

.inputWrap {
  width: 100%;
}

.contentWrap {
  margin-bottom: 31px;
}

.footerText {
  color: #656565;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.toastMsgSuccess{
  background: #008556;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.toastMsgFailure{
  background: #D8292F;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.formBody {
  margin-right: -10px;
}
