.autocompleteResults {
    position: absolute;
    border: #c7c7c7 1px solid;
    border-radius: 4px;
    margin-top: 0px;
    z-index: 1;
    box-shadow: 0px 12px 20px 0 rgba(0, 0, 0, 0.25)
}

.autocompleteResult Button {
    width: 541px;
    text-align: left;
    padding: 6px 16px;
    color: var(--grayscale-gray-100, #1A1A1A);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    background-color: white;
    border-radius: 0px;
    border: none;
    border-radius: 4px;
}

.autocompleteResult Button:hover {
    opacity: 1;
}

.autocompleteResult:has(+ .autocompleteResult) {
    border-bottom: #c7c7c7 1px solid;
}
