.inputWrap {
  width: 100%;
}

.contentWrap {
  margin-bottom: 31px;
}

.footerText {
  color: #656565;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.toastMsgSuccess{
  background: #008556;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.toastMsgFailure{
  background: #D8292F;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

ul.userList {
  margin-top: 12px;
}

.userList li {
  list-style: disc !important;
  margin-left: 40px;
  font-size: 20px;
}