/* keep for reference for error in future */
.textBoxWrap{
	width: 100%;
}

.textBoxWrap .textLabel{
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	color: #1A1A1A;
}

.textInput {
	height: 48px;
	border: 1px solid #C7C7C7;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 4px;
	padding: 12px 16px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; 
	color: #1A1A1A;
	width: 100%;
  }
  

.footerText {
	/* Primary / Navy */
	color: #656565;
	padding-top: 5px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
}


/* previous code */
.textBox.container {
	padding-top: 16px;
	padding-bottom: 16px;
}
.textBox__text {
	/* Primary / Navy */
	color: #101820;
	font-style: normal;
	font-weight: 400;
	/* identical to box height, or 137% */
	letter-spacing: 0.5px;
	padding-bottom: 20px;
	cursor: pointer;
}
.textBox__box {
	/* Primary / White */
	background: #fff;
	height: 50px;
	width: 100%;
	cursor: pointer;
	/* Tertiary / Light Grey */
	border: 1px solid #949494;
	box-sizing: border-box;
	border-radius: 8px;
	margin-top: 10px;
	/* Body */
	/* Primary / Black */
	color: #101820;
	font-style: normal;
	letter-spacing: 0.5px;
	text-indent: 15px;
}
.textBox__box::placeholder {
	color: #636367;
}
.textBox__box:focus {
	outline: none;
	border: 1px solid #62b5e5;
	box-sizing: border-box;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.textBox__error-div {
	/* Primary / Red */
	border: 1px solid #d0021b;
}
.textBox__error-message {
	/* Primary / Red */
	color: #d0021b;
	padding-top: 10px;
}
.textBox__hide-div {
	display: none;
}
.textBox__disabled-div {
	background: #f4f4f4;
	border: 1px solid #f4f4f4;
	color: #636465;
}
.textBox.required {
	color: #101820;
}

/* bc style */
  
  .textInput[type="text"]:focus {
	  outline: 4px solid #3B99FC;
	  outline-offset: 1px;
  }
  
