.btn {
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

/* xlarge Button */
.xlarge{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 142.857% */
    padding: 12px 15px;
    border-radius: 4px;
    width: 180px; 
}

/* Primary Button */
.primary {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    padding: 10px 26px;
    border-radius: 4px;
}

/* Secondary Button */
.secondary{
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    border-radius: 4px;
    padding: 7px 16px;
    min-width: 136px;
}

/*  */


.dark {
    background-color: #234075;
    color: #ffffff;
    border: solid 1px #234075;
}

.light {
    border: solid 1px #234075;
    color: #234075;
}

.danger{
    border: solid 1px #D8292F;
    color: #D8292F;
}

.BCGovPrimaryButton {
    background-color: #003366;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.BCGovPrimaryButton:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/* :focus {
  outline: 4px solid #3B99FC;
  outline-offset: 1px;
} */

.BCGovPrimaryButton:active {
    opacity: 1;
}

/* Primary Button Dark */
.BCGovPrimaryButtonDark {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #313132;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.BCGovPrimaryButtonDark:hover {
    text-decoration: underline;
    background-color: #f2f2f2;
}

/* :focus {
  outline: 4px solid #3B99FC;
  outline-offset: 1px;
} */

.BCGovPrimaryButtonDark:active {
    background-color: #fff;
}

.backgroundColour {
    background-color: #003366;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Secondary Button */
.BCGovSecondaryButton {
    background: none;
    border-radius: 4px;
    border: 2px solid #003366;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    color: #003366;
}
.BCGovSecondaryButton:hover {
    opacity: 0.8;
    text-decoration: underline;
    background-color: #003366;
    color: #ffffff;
}
/* :focus {
    outline-offset: 1px;
    outline: 4px solid #3B99FC;
    } */
.BCGovSecondaryButton:active {
    opacity: 1;
}

/* Secondary Button Dark */
.BCGovSecondaryButtonDark {
    background: none;
    border-radius: 4px;
    border: 2px solid #fff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: ‘Noto Sans’, Verdana, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
}

.BCGovSecondaryButtonDark:hover {
    text-decoration: underline;
    background-color: #fff;
    color: #313132;
}

/* :focus {
    outline-offset: 1px;
    outline: 4px solid #3B99FC;
    } */

.BCGovSecondaryButtonDark:active {
    background-color: #f2f2f2;
    color: #313132;
}

.backgroundColour {
    background-color: #003366;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Disabled Button */
.BCGovPrimaryButtonDisabled {
    background-color: #003366;
    opacity: 0.3;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: not-allowed;
}

.BCGovSecondaryButtonDisabled {
    background-color: white;
    opacity: 0.3;
    border: 2px solid #003366;
    border-radius: 4px;
    color: #003366;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: ‘Noto Sans’, Verdana, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: not-allowed;
}
