
.propertyResultWrap {
    padding: 48px 96px;
}


@media (min-width: 1260px) {
    .seachResultWrap{
        margin-right: 76px;
    }
}

@media (max-width: 1260px) {
    .seachResultWrap{
        margin-right: 23px;
    }
}