.tblSection {
  display: block;

}

.tblSection table {
  display: block;
  /* max-width: -moz-fit-content;
  max-width: fit-content; */
  overflow-x: auto;
  border: 1px solid #C7C7C7;
  height:100%;
  max-height: 600px;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
}


.tblSection tr:hover {
  cursor: pointer;
  background-color: #ECF6FF;
}

.tblSection  td {
  border-bottom: 1px solid #C7C7C7;
  text-align: left;
  padding: 16px;
  vertical-align: top;
  overflow: hidden;
  word-wrap:break-word;
  table-layout: fixed;
}

.tblSection th {
  border-bottom: 2px solid #656565;
  text-align: left;
  padding: 16px;
  vertical-align: bottom;
  word-wrap:break-word;
  position: sticky;
  top:0;
  background: white;
}

.tblSection th:nth-child(1) {
  width: 2.5%;
}

.tblSection th:nth-child(2) {
  width: 7.5%;
}

.tblSection th:nth-child(3) {
  width: 7.5%;
}

.tblSection th:nth-child(4) {
  width: 7.5%;
}

.tblSection th:nth-child(5) {
  width: 7.5%;
}

.tblSection th:nth-child(6) {
  width: 7.5%;
}

.tblSection th:nth-child(7) {
  width: 10%;
}

.tblSection th:nth-last-child(1) {
  width: 20%;
  min-width: 175px
}

.tblSection th:nth-last-child(2) {
  width: 10%;
  min-width: 175px
}

