.searchResultList {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow: scroll;
    overflow-x: hidden;
}

.searchResultList::-webkit-scrollbar {
    display: none;
}

.searchResultList button {
    outline-offset: -2px;
}

.searchResultTitle {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 140% */
    border-bottom: #234075 1.5px solid;
    padding-bottom: 11px;
    text-align: left;
}

.scrollMsg {
    color: var(--grayscale-gray-80, #656565);
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 133.333% */
    letter-spacing: 0.025rem;
    padding-top: 21px;
}

.hiddenScrollMsg {
    display: none;
}

@media (min-width: 1260px) {
    .searchResultTitle, 
    .searchResultList,
    .searchResultList button,
    .searchResultList button,
    .addressCard,
    .scrollMsg { 
        width: 19.6875rem;
    }
}

@media (max-width: 1260px) {
    .searchResultTitle,
    .searchResultList, 
    .searchResultList button,
    .searchResultList .addressCard,
    .scrollMsg {
        width: 263px;
    }
}

@media (max-width: 750px) {
    .searchResultTitle,
    .searchResultList, 
    .searchResultList button,
    .searchResultList .addressCard,
    .scrollMsg {
        width: 160px !important;
    }
}

@media (max-width: 915px) {
    .searchResultTitle,
    .searchResultList, 
    .searchResultList button,
    .searchResultList .addressCard,
    .scrollMsg {
        width: 180px;
    }
}

