
.propertyResultWrap {
    padding: 48px 96px;
    max-width: 1448px;
    margin: auto;
}

.resultMsgWrap{
  margin-top: 41px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
  color: #002A4E;
}

@media (min-width: 1260px){
  .propertyDetailsWrap{
      width: 857px;
  }

  .paddingLarge{
      padding: 32px 44px;
  }

  .paddingSmall{
      min-height: 857px;
      opacity: 0.6;
  }
}

.propertyDetailsWrap{
    background-color: #F1F1F1;
    min-height: 913px;
    opacity: 60%;
}


@media (min-width: 1260px){
    .propertyDetailsWrap{
        width: 857px;
    }

    .paddingLarge{
        padding: 32px 44px;
    }

    .paddingSmall{
        min-height: 857px;
        opacity: 0.6;
    }
}

@media (max-width: 1260px) {
    .propertyDetailsWrap{
        width: 600px;
    }

    .paddingLarge{
        padding: 28px 25px;
    }

    .paddingSmall{
        min-height: 857px;
        opacity: 0.6;
    }

}

@media (min-width: 1260px) {
    .searchResultWrap{
        margin-right: 76px;
    }
}

@media (max-width: 1260px) {
    .propertyResultWrap {
        max-width: 1077px;
    }
    .searchResultWrap{
        margin-right: 23px;
    }
}

.noResultMsgWrap{
    margin-top: 36px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    color: #002A4E;
}


div:has(div#singleProperty) {
    width: 100%;
}

.searchResultWrap .backButton {
    color: #002A4E;
    width: 100%;
    justify-content: flex-start;
}

.backButton {
    width: 0px;
    margin-bottom: 16px;
    margin-top: -110px;
    color: #002A4E;
}

.backButton span {
    padding-left: 82px;
    margin-top: -2px;
}

.backButton svg {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 16px;
}

.backButtonContainer {
    display: flex;
    flex-wrap: wrap;
}
