.navigationSection{
	background-color: #005c97;
	height: 57px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	display: flex;
	justify-content: flex-start;
	padding: 1px 50px;
	box-shadow: 0px 4px 8px 0px rgba(26, 26, 26, 0.20);
}

.navigationSection .linkWrap{
	list-style-type: none;
	width: 170px;
	vertical-align: middle;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	border-bottom: 1px solid #C7C7C7;
}

.navigationSection .linkWrap .link{
	text-decoration: none;
	color: #FFFFFF;
}

.active{
	border-bottom: 2px solid #FFFFFF !important;
}