
.ownerInfoCardWrap{
    border-top: 6px solid #005C97;
    background-color: #FFFFFF;
    padding: 17px 21px 27px;
}

.ownerInfoCardWrap:not(:last-child){
    margin-bottom: 26px;
}

.title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    color: #005C97;
    margin-bottom: 19px;
}

@media (min-width: 1260px) {
    .infoDetailWrap:first-child {
        margin-right: 24px;
        width: 262px;
    }
}

@media (max-width: 1260px) {
    .infoDetailWrap:first-child {
        margin-right: 24px;
        width: 157px;
    }
}

@media (max-width: 750px) {
    .infoDetailWrap {
        width: 110px !important;
    }
    .infoDetailWrap .content {
        width: 110px !important;
    }
    .infoDetailWrap .title {
        width: 110px !important;
    }
}

@media (max-width: 915px) {
    .infoDetailWrap {
        width: 130px;
    }
    .infoDetailWrap .content {
        width: 140px;
    }
    .infoDetailWrap .title {
        width: 140px;
    }
}

.infoDetailWrap .title{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    color: #656565;
    margin-bottom: 0px;
    width: 247px;
}

.infoDetailWrap .content{
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px; /* 150% */
    color: #2464A4;
    padding-top: 5px;
}

.ownerInfoCardWrap .buttonWrap{
    margin-top: 20px;

}

.ownerInfoCardWrap .buttonWrap .buttonItem:first-child{
    margin-right: 19px;
}