
.linkWrap{
	height: 55px;
	list-style-type: none;
	min-width: 170px;
	vertical-align: middle;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	border-bottom: 1px solid #C7C7C7;
}

.linkWrap .link{
	text-decoration: none;
	color: #FFFFFF;
}

.active{
	border-bottom: 2px solid #FFFFFF !important;
}