
.propertyDetailsWrap{
    background-color: #F1F1F1;
    min-height: 913px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: -32px;
}

@media (min-width: 1260px){
    .propertyDetailsWrap {
        min-width: 857px;
        width: 100%;
    }
    
    .paddingLarge{
        padding: 32px 44px 1px 44px;
    }

    .paddingSmall{
        min-height: 857px;
        opacity: 0.6;
    }
}

@media (max-width: 1260px) {
    .propertyDetailsWrap {
        min-width: 600px;
        width: 100%;
    }

    .paddingLarge{
        padding: 28px 25px 1px 25px;
    }

    .paddingSmall{
        min-height: 857px;
        opacity: 0.6;
    }

}

.noDataFoundMsgWrap {
    margin-top: 36px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    color: #002A4E;
    opacity: 60%;
}

.noDataFound svg {
    opacity: 60%;
}

.resultMsgWrap{
    margin-top: 41px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    color: #002A4E;
}

.addressWrap{
    background-color: #E4F2FF;
    padding: 23px 32px;
    color: #1A1A1A;
    margin-bottom: 34px;
}

.addressWrap .title{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.addressWrap .content{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
}

.details {
    max-width: 1036px;
    text-align: center;
    margin: auto;
}

.multipleTitlesAlert {
    display: flex;
    margin-top: -6px;
    margin-bottom: 13px;
    background-color: #E4F2FF;
    padding: 10px 16px;
    width: 100%;
    justify-content: space-between;
}

.multipleTitlesAlert .alertText {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    text-align: left;
}

.multipleTitlesAlert .closeIcon {
    margin-left: auto;
}

.multipleTitlesAlert .closeIcon svg {
    width: 12px;
    height: 12px;
    text-align: left;
}
