/* ensure that there is a semicolon at the end of the line otherwise the styles will not build correctly in production.  */
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:wght@400;700&display=swap&family=Patua+One:wght@100;400;700&display=swap"); */
@import '@bcgov/bc-sans/css/BCSans.css';

/* tailwind default */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* consistent focus styles on all components */
  * {
    @apply focus:outline-none;
    @apply focus-visible:ring-1;
    @apply focus-visible:ring-black;
  }

  html{
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  }

  body{
    margin: 0px;
  }

  h1{
    /* font-family: BC Sans; */
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.05px;
    color: #005C97;
  }

  input{
    border: 1px solid #C7C7C7;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 4px;
  }

  input:focus{
    border-color: #234075;
    outline: none;
  }

  /* textarea:focus{
    outline: none;
  } */
}

